html, body{

    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;

}

section{
    height: 100vh;
    text-align: center;
    padding-top: 20%;
}

h1{
    font-family: "fira sans", sans serif;
}

a{
color: black;
}

section img{
    position:relative;
    float:center;
    animation: arrow .8s linear .2s alternate infinite both  ;
}



 #one {
    background: #fbff76;
    }

 #two {
    background: #e96674;
    }

#three {
    background: #80ffba;
    }
#three img {

    transform: rotate(180deg);
}

@keyframes arrow {
0%{
opacity: 0;
padding-top:20px;
}

50% {

}

100% {
opacity: 1;
padding-top: 0px;
}
}

